<<<<<<< HEAD
body {
  background-color : grey;¨
  font-family : "Open Sans", sans-serif;
  font-size : 16px;
  line-height : 1.5;

=======


html{
    background-color: #f2f2f2;
>>>>>>> dead46c28027158b104a4d35f9db75579dac6561
}

h1 
{
    font-size : 2.5em;
    font-weight : 300;
    color : #333;
    margin-bottom : 0.5em;
    text-align: center;
<<<<<<< HEAD
=======
    margin: 0;
    padding: 10px;
    border-radius: 15px;

>>>>>>> dead46c28027158b104a4d35f9db75579dac6561
}

h2
{
    font-size : 1.5em;
    font-weight : 300;
    color : #333;
    margin-bottom : 0.5em;
}

.img {
  text-align: center;
}

li a {text-decoration : none; color : #2d2f31;}


nav {
  width : 300px; 
  background: #d9d9d9;
  margin : 40px auto; 
}

span {
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide li {padding : 30px;}

<<<<<<< HEAD
#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 300px;} 
=======
.show {display: block;}
>>>>>>> dead46c28027158b104a4d35f9db75579dac6561
